<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Zatrudnij mnie - Szymon Królik</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Szymon Królik</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href=" {% url 'index' %} ">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'project-cards' %}">Projekty</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'cv' %}">CV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'hire_me' %}">Zatrudnij mnie</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Zatrudnij mnie</h2>
                </div>
                <form>
                    <div class="form-group"><label for="subject">Zadanie</label><select class="form-control" id="subject"><option value="" selected="">Wybierz zadanie</option><option value="1">Web developer</option><option value="2">Back end</option><option value="3">Social Media</option></select></div>
                    <div
                        class="form-group"><label for="email">Email</label><input class="form-control" type="email" id="email"></div>
            <div class="form-group"><label for="message">Wiadomość</label><textarea class="form-control" id="message"></textarea></div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6"><label for="hire-date">Data</label><input class="form-control" id="hire-date" type="date"></div>
                    <div class="col-md-6 button"><button class="btn btn-primary btn-block" type="submit">Zatrudnij mnie</button></div>
                </div>
            </div>
            </form>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="{% url 'cv' %}">O mnie</a><a href="{% url 'hire_me' %}">Zatrudnij mnie</a>
                <a href="{% url 'project-cards'%}">Projekty</a></div>
            <div class="social-icons"><a href="https://www.facebook.com/szymon.krolik.58"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/szymon.krolik/"><i class="icon ion-social-instagram-outline"></i></a><a href="https://github.com/szymonKrolik"><i class="icon ion-social-github"></i></a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../static/assets/js/script.min.js"></script>
</body>

</html>